* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    color: #fff;
    font-family: SourceSansPro-Black;
}

@font-face {
    font-family: SourceSansPro-Black;
    src: url(./assets/fonts/SourceSansPro-Black.otf);
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url(./assets/fonts/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url(./assets/fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: spincycle_ot;
    src: url(./assets/fonts/spincycle_ot.otf);
}

:root {
    --color-white: #fff;
    --color-red: #FF6565;
    --color-blue: #071629;
    --color-black: #000;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: var(--color-red) !important;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
}

header {
    background-image: url("./assets/img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--color-white);
}

.header-main p {
    padding-top: 25px;
    line-height: 26px;
    max-width: 60%;
    margin: auto;
}

.header-main {
    padding: 280px 0 100px 0;
    font-size: 16px;
}

.header-main h1, .header-main h4, .btn {
    font-family: 'Source Sans Pro Bold';

}

.btn {
    margin: 50px;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
}

.btn:hover, .btn:active {
    opacity: 0.9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}

/* .logo {
    margin-left: 40px;
} */

nav input, nav label {
    display: none;
}

/* .nav-menu {
    margin-right: 40px;
} */

/* ------------- */

.checkbtn {
    width: 30px;
    position: relative;
}

.checkbtn span,
.checkbtn span::before,
.checkbtn span::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: var(--color-white);
    border-radius: 5px;
}

.checkbtn span {
    /* position: relative; */
    /* background: var(--color-white); */
    transition: background-color 300ms;
}

.checkbtn span::before,
.checkbtn span::after {
    position: absolute;
    transition: transform 300ms, top 300ms, bottom 300ms;
}

.checkbtn span::before {
    bottom: 10px;
}

.checkbtn span::after {
    top: 10px;
}

#check:checked+.checkbtn span {
    background: transparent;
}

#check:checked+.checkbtn span::before {
    transform: rotate(-45deg);
    bottom: 0;
}

#check:checked+.checkbtn span::after {
    transform: rotate(45deg);
    top: 0;
}


.logo img {
    width: 161px;
}

.nav-menu a {
    color: var(--color-white);
    margin-left: 50px;
    font-size: 12px;
    font-family: 'Source Sans Pro Bold';

}





/* Membership */
.membership-section {
    line-height: 30px;
    padding: 70px 0;
}

.lg-12 {
    width: 637px;
    margin: auto;
}

.membership-section .container h1 {
    text-align: center;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 32px;
    font-family: SourceSansPro-Regular;
    color: black;
}

.membership-section .container .lg-12 p {
    color: black;
    text-align-last: center;
    margin-bottom: 97px;
    font-family: SourceSansPro-Light;
}

.membership-section .container .row .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.membership-section .container .row {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.membership-section .container .row .member p {
    text-align: center;
    font-size: 14px;
    font-family: SourceSansPro-Light;
    color: black;
}

.membership-section .container .row .member h2 {
    font-size: 18px;
    color: black;
    font-family: SourceSansPro-Regular;
}

.membership-section .container {
    text-align: center;
}



@media only screen and (max-width:768px) {
    .header-main p, .we-do-content p {
        max-width: 90%;
    }

    .logo {
        margin-left: 40px;
    }

    .nav-menu {
        margin-right: 40px;
    }

    .nav-menu a {
        margin-left: 30px;
    }

}

@media only screen and (max-width: 480px) {
    .logo {
        position: absolute;
        top: 35px;
        order: 2;
        margin-left: 0;
    }
    .container{
        padding: 0 20px;
    }
    .navbar {
        justify-content: center;
    }

    nav input, nav label {
        display: none;
    }

    nav {
        margin-top: 10px;
        margin-left: 30px;
        color: #fff;
        width: 100%;
    }

    label {
        cursor: pointer;
    }

    .checkbtn {
        display: block;
    }

    #check {
        display: none;
    }

    .nav-menu {
        display: none;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .nav-menu a {
        padding: 1rem 1.5rem;
        display: block;
        margin-left: 0 !important;
        margin-right: 30px;
    }

    #check:checked~.nav-menu {
        display: block;
        width: 100%;
        background-color: var(--color-dark);
        text-align: center;
    }

    .row {
        display: block !important;
    }
    .member{
        margin: auto;
    }

    .results-section{
        padding-bottom: 10px;
    }

    .shape {
        position: relative;
        margin: auto;
    }

    .shape p {
        position: absolute;
        bottom: 55px;
        left: 37px;
    }

    .shape h2 {
        position: absolute;
        left: 45px;
    }


    .lg-12 {
        width: auto !important;
    }

    .member {
        margin-bottom: 50px;
    }

    form button{
        margin: 0 27%;
    }

    .footerLogo, .social-media, footer .row {
        width: fit-content;
        margin: 15px auto;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 30px;
        background-color: #071629;
    }
}



